.body {
	margin: 0 !important;
	padding: 0 !important;
}
.element {
	height:1000px;
	background-color: #ededed;
	font-size: 45px;
	border-top:1px solid #000;
	padding-top:55px;
	padding-left:10px;
}

.active {
  color:white !important;
  background-color:rgb(0, 89, 255) !important;

}

.navbar-default .navbar-nav>li>a {
  color: #777;
}